* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

#app {
  height: 100vh;
  width: 100vw;
}

body {

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #four04-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    background: url('../imgs/8.png') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #four04-title {

    font-size: 4.5em;
    text-align: center;
    padding: 20vh 0 5vh 0;
    
  }

  #four04-description {
    font-size: 2em;
    text-align: center;
    padding: 10vh 0 5vh 0;
  }

#four04-button-group {
    justify-content: center;
    align-items: center;
}

#four04-arrow {
   transform: rotate(135deg);
   font-size: 3rem;

}

#landing-page {

  height: 100vh;
  width: 100vw;
  background: url('../imgs/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg') ;

  background-blend-mode: multiply;
  background-size: cover;
  
}
#landing-page-title {
  color: white;
  font-size: 4.5em;
  text-align: center;
  padding: 20vh 0 5vh 0;
  
}

#landing-page-description {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 10vh 0 5vh 0;
}